<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{post_searched.title}}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{% url 'main' %}">Voltar Principal</a></li>
            <li><a href="{% url 'create' %}">Escrever um texto</a></li>
            <li><a href="{% url 'update' post_searched.id %}">Alterar esta Postagem</a></li>
        </ul>
    </div>



    

    <h1>{{post_searched.title}}</h1>
    <p>{{post_searched.text}}</p>
    
    
    
</body>
</html>