{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '../static/css/main.css' %}">
    <title>Principal</title>
</head>
<body>
    <div class="left">
        <ul>
            <li><a href="{% url 'create' %}">Escrever um texto</a></li>
        </ul>
    </div>

    <div class = "main">
    <h1>Página Principal</h1>
    {% if variavel == 1 %}

        {% for item in posts %}
            <hr>
            <h2>{{item.title}}</h2>
            <a href="{% url 'detail' item.id %}">Acessar</a>
        {% endfor %}

    {% else %}

        <h1>{{variavel}}</h1>

    {% endif %}

    

    </div>
</body>
</html>


